<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Бетонное полотно (холст, ткань, рулонный бетон) Concrete Canvas в России</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="https://uccr.su/bitrix/templates/tireos/img/favicon/favicon.ico"/>


    <meta name="google-site-verification" content="lVcAzClQQL-PjjiwEf0yS7SlLptn27Hb0mYnnKUYj34"/>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    {% include "styles.twig" %}

</head>
<body>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-599ZHT"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- /Yandex.Metrika counter -->
<div id="panel">
</div>
<div class="b-site-wrapper demo-park mb50">
    <div class="b-header index-header">

        <div class="b-content-wrap clearfix">
            <div class="b-header__top-content clearfix">
                <div class="b-logo l_bl">
                                                    <span class="b-logo__icon">
									<img class="b-logo__icon-img"
                                         src="https://uccr.su//bitrix/templates/tireos/img/last-logo.png"
                                         alt="">
								</span>
                </div>


                <div class="b-header-nav-wrap">
                    <ul class="b-header-nav">
                        <li class="b-header-nav__item">
                            <a class="b-header-nav__link" href="/about/">О компании</a>
                        </li>

                        <li class="b-header-nav__item">
                            <a class="b-header-nav__link" href="/news/">Новости/Медиа</a>
                        </li>

                        <li class="b-header-nav__item">
                            <a class="b-header-nav__link" href="/contacts/">Контакты</a>
                        </li>

                    </ul>
                </div>

                <div class="b-phone r_bl">
                    <div class="b-phone__item">
                        <a class="b-phone-call b-phone__icon" href="tel:+74959377780">+7 (495) 937-77-80</a>

                        <p class="b-phone__item-text">Москва. Центральный офис</p>
                    </div>
                    <div class="b-phone__item">
                        <a class="b-phone-call b-phone__icon" href="tel:+448456801908">+44 (845) 680-1908 (UK)</a>

                        <p class="b-phone__item-text">Представительство в UK</p>
                    </div>
                </div>
            </div>
            <div class="b-main-nav__index-wrapper">
                <div class="b-main-nav">
                    <div class="b-main-nav__item submenu-open">
                        <div class="b-main-nav__item-content">
                            <a class='b-main-nav__link' href="#"></a>
                            <div class='b-main-nav__item-name submenu-arrow'>Применение</div>
                            <div class="b-submain-contant-wrap">
                                <div class="b-submain-contant clearfix">
                                    <ul class="b-submain-nav-wrap l_bl">
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_165">
                                            <a href="https://uccr.su//primenenie/ukreplenie-beregov/"
                                               class="b-submain-nav__link" data-nav-img="1">Укрепление берегов</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_5">
                                            <a href="https://uccr.su//primenenie/ukreplenie-i-zashchita-sklonov/"
                                               class="b-submain-nav__link" data-nav-img="2">Укрепление и защита
                                                склонов</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_7">
                                            <a href="https://uccr.su//primenenie/ukreplenie-transhey-i-kanav/"
                                               class="b-submain-nav__link" data-nav-img="3">Укрепление траншей и
                                                канав</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_8">
                                            <a href="https://uccr.su//primenenie/ukreplenie-kotlovanov/"
                                               class="b-submain-nav__link" data-nav-img="4">Укрепление котлованов</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_16">
                                            <a href="https://uccr.su//primenenie/ukreplenie-nasypey/"
                                               class="b-submain-nav__link" data-nav-img="5">Укрепление насыпей</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_10">
                                            <a href="https://uccr.su//primenenie/zashchita-ot-erozii/"
                                               class="b-submain-nav__link" data-nav-img="6">Защита от эрозии</a>
                                        </li>
                                    </ul>
                                    <ul class="b-submain-nav-wrap l_bl">
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_11">
                                            <a href="https://uccr.su//primenenie/peremychka-v-shakhte/"
                                               class="b-submain-nav__link" data-nav-img="7">Перемычки в шахте</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_12">
                                            <a href="https://uccr.su//primenenie/obvalovanie/"
                                               class="b-submain-nav__link" data-nav-img="8">Обвалование</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_13">
                                            <a href="https://uccr.su//primenenie/remont-vodovodov/"
                                               class="b-submain-nav__link" data-nav-img="9">Ремонт водоотводов</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_14">
                                            <a target="_blank"
                                               href="https://uccr.su//upload/iblock/cbc/cbcdb89e26bacb261a4dd85ab414c73a.pdf"
                                               class="b-submain-nav__link" data-nav-img="10">Восстановление габионов</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_15">
                                            <a href="https://uccr.su//primenenie/ukreplenie-otkosov/"
                                               class="b-submain-nav__link" data-nav-img="11">Укрепление откосов</a>
                                        </li>
                                        <li class="b-submain-nav__item list-image" id="bx_3218110189_157">
                                            <a href="https://uccr.su//primenenie/betonnye-palatki-concrete-canvas-shelter/"
                                               class="b-submain-nav__link" data-nav-img="12">Бетонные палатки</a>
                                        </li>
                                    </ul>
                                    <div class="b-submain-nav-image r_bl">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/ae0/ae0c2db3363137e0357a8e3912106416.jpg"
                                             alt="" data-nav-img="1">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/915/915b142eb438a55e72873a91a92ffa4e.jpg"
                                             alt="" data-nav-img="2">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/a7f/a7f4e6a0c51b607eebb11447ffee752c.jpg"
                                             alt="" data-nav-img="3">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/99c/99c36644a1783a088bcdfa40b891a53f.jpg"
                                             alt="" data-nav-img="4">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/213/2134679350cfa9393deb51a572a3d4db.jpg"
                                             alt="" data-nav-img="5">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/8e2/8e2a4bc3f85ea768f5422efa86f51568.jpg"
                                             alt="" data-nav-img="6">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/0f5/0f5c07369737acce51fb84cdc6de46c7.jpg"
                                             alt="" data-nav-img="7">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/1a3/1a303241da4f7cba66a71506224ddb45.jpg"
                                             alt="" data-nav-img="8">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/1b6/1b611e86ce29ed3e7912f9f8aa2d9881.jpg"
                                             alt="" data-nav-img="9">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/ebf/ebf99bdbe15b2253d6e681f8777589de.jpg"
                                             alt="" data-nav-img="10">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/705/705f0250b8fd670112cd6a1102be75c7.jpg"
                                             alt="" data-nav-img="11">
                                        <img class="b-submain-nav-image__img active"
                                             src="https://uccr.su/upload/iblock/95d/95d39e33f8ca9a1d0d13cba761b4196d.jpg"
                                             alt="" data-nav-img="12">
                                    </div>
                                </div>
                            </div>
                            <!-- /подменю -->
                        </div>
                    </div>
                    <div class="b-main-nav__item">
                        <div class="b-main-nav__item-content">
                            <a class='b-main-nav__link' href="/examples/"></a>
                            <div class='b-main-nav__item-name'>Примеры работ</div>
                        </div>
                    </div>
                    <div class="b-main-nav__item">
                        <div class="b-main-nav__item-content">
                            <a class='b-main-nav__link' href="/install/"></a>
                            <div class='b-main-nav__item-name'>Как проходит монтаж</div>
                        </div>
                    </div>
                    <div class="b-main-nav__item">
                        <div class="b-main-nav__item-content">
                            <a class='b-main-nav__link' href="/specification/"></a>
                            <div class='b-main-nav__item-name'>Спецификация и формы поставки</div>
                        </div>
                    </div>
                    <div class="b-main-nav__item">
                        <div class="b-main-nav__item-content">
                            <a class='b-main-nav__link' href="/faq/"></a>
                            <div class='b-main-nav__item-name'>FAQ</div>
                        </div>
                    </div>
                    <div class="b-main-nav__item">
                        <div class="b-main-nav__item-content">
                            <a class='b-main-nav__link' href="/#/"></a>
                            <div class='b-main-nav__item-name'>Демонстрационный парк</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /b-header -->
    <div class="top-slider">
        <div class="b-main-slider-wrap">
            <div class="b-main-slider main-slider">
                <div class='b-main-slider__item' id="bx_651765591_1">
                    <div class="b-main-slider__content-title-wrapper">
                        <h2 class="b-main-slider__content-title">
                            Посетите демонстрационный парк <br>
                            United Concrete Canvas <br>
                            Russia в Подмосковье
                        </h2>
                    </div>
                    <div class="b-main-slider__item-img"><img
                                src="img/slider-main-img.png"
                        />
                    </div>
                    <div class="slider-popup-group">
                        <div class="slider-popup-toggle"
                             title="This is my span's tooltip message This is my span's tooltip message!!"></div>
                    </div>
                    <div class="slider-popup-group slider-group2">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group3">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group4">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group5">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                </div>
                <div class='b-main-slider__item' id="bx_651765591_2">
                    <div class="b-main-slider__content-title-wrapper">
                        <h2 class="b-main-slider__content-title">
                            Посетите демонстрационный парк <br>
                            United Concrete Canvas <br>
                            Russia в Подмосковье
                        </h2>
                    </div>
                    <div class="b-main-slider__item-img"><img
                                src="img/slider-main-img.png"
                        />
                    </div>
                    <div class="slider-popup-group">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group2">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group3">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group4">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                    <div class="slider-popup-group slider-group5">
                        <div class="slider-popup-toggle" title="This is my span's tooltip message!"></div>
                    </div>
                </div>
            </div>


            <div class="b-main-slider__content-wrap">
                <div class="b-main-slider__content">
                    {#<h2 class="b-main-slider__content-title">
                        Посетите демонстрационный парк
                        United Concrete Canvas
                        Russia в Подмосковье
                    </h2>#}

                </div>
            </div>
        </div>
    </div>
    <div class="b-main__blue-bg">
        <div class="b-content-wrap">
            <p class="ffArimo-bold text-white lh28 fz18 fw700">
                Мы прекрасно понимаем, что, когда речь идет о таком инновационном продукте как бетонное полотно Concrete
                Canvas, лучше один раз увидеть, чем прочитать десятки описаний и посмотреть сотни фотографий. Именно
                такую возможность – познакомиться с бетонным полотном «вживую» мы предоставляем с помощью нашего
                демонстрационного парка
            </p>
        </div>
    </div>
    <div class="b-what-view">
        <div class="b-content-wrap">
            <div class="b-view__title mb50">
                <h2 class="tabs-content__title mb30 ffbeau-semibold">Что вы увидите</h2>
                <p class="lh24">В демопарке United Concrete Canvas Russia вы сможете увидеть и оценить следующие
                    варианты применения бетонного холста:</p>
            </div>
        </div>
        <div class="b-content-wrap__variants-list">
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var1.jpg" alt="">
                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Укрепление <br>
                    склонов и насыпей
                </p>

            </a>
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var2.jpg" alt="">
                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Укрепление канав
                </p>

            </a>
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var3.jpg" alt="">
                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Облицовка бассейна
                </p>

            </a>
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var4.jpg" alt="">

                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Обвалование
                </p>

            </a>
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var5.jpg" alt="">
                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Укрепление габионов
                </p>

            </a>
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var6.jpg" alt="">
                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Бетонная палатка
                </p>

            </a>
            <a href="#" class="b-content-wrap__variants-item">
                <div class="img-wrapper">
                    <img src="img/var7.jpg" alt="">
                </div>
                <i class="icon-arrow-right"></i>
                <p class="b-content-wrap__variants-item__text">
                    Укрепление полотном <br>
                    стены из мешков с песком
                </p>

            </a>
        </div>
    </div>
    <div class="b-what-learn">
        <div class="b-content-wrap mb40">
            <div class="mb80">
                <h2 class="tabs-content__title mb30 ffbeau-semibold">Что вы узнаете</h2>
                <div class="base-text-block">
                    <p>
                        В первую очередь вы сможете получить ответ на вопрос <strong>«Действительно ли бетонное полотно обладает всеми теми преимуществами, которые ему приписываются?».</strong>
                        Вы сможете буквально на ощупь оценить его прочность, гибкость, надежность, на практике проверить
                        его
                        водонепроницаемость и другие свойства. Кроме того, вы сможете увидеть различные варианты его
                        укладки
                        и крепления.
                        Специалисты United Concrete Canvas Russia ответят на все ваши дополнительные вопросы,
                        предоставят
                        любую интересующую вас информацию, подробно расскажут о вариантах применения полотна Concrete
                        Canvas
                        конкретно в вашей сфере деятельности.
                    </p>
                    <p>Специалисты United Concrete Canvas Russia ответят на все ваши
                        дополнительные
                        вопросы, предоставят любую интересующую вас информацию, подробно расскажут о вариантах
                        применения
                        полотна Concrete Canvas конкретно в вашей сфере деятельности.</p>
                </div>
                <span class="red-sep"></span>
            </div>

            <div><h2 class="b-info-present__title mr55 dib mb0 vat fw700">Где расположен демопарк</h2>
                <span class="fz18 lh28 dib vat">Деревне Падиково, Истринский район <br> (30 км от МКАД по Новорижскому шоссе)</span>
            </div>
        </div>
        <div class="b-what-learn__map-group mb50">

            <div class="img-wrapper dib">
                <img class="img-responsive" src="img/layer-34.jpg" alt="">
            </div>
            <div class="park-location-map" id="park-location-map"></div>
        </div>
        <div>
            <div class="b-content-wrap">
                <div class="attention-demo">
                    <span class="icon-NB mr30"></span>
                    <p class="ffarimo-b lh24 dib vam fz18 fw700 tal">
                        Режим работы демопарка: <br>
                        По предварительному согласованию с <br> сотрудниками компании.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="b-form demo-park ovh p-rel">
    <div class="b-content-wrap  clearfix">
        <div class="form__gallery-wrap	l_bl">
            <div class="form__gallery__item-top"><img src="img/layer-45.jpg"
                                                      alt=""></div>
            <div class="form__gallery__item"><img src="img/layer-38.jpg"
                                                  alt=""></div>
            <div class="form__gallery__item"><img src="img/layer-41.jpg"
                                                  alt=""></div>
            <div class="form__gallery__item"><img src="img/layer-40.jpg"
                                                  alt=""></div>
        </div>
        <div class="b-form-wrap r_bl">
            <h2 class="b-form-title">Заинтересованы?<br> Предлагаем сотрудничество!</h2>
            <p class="b-form-text">Компания United Сoncrete Canvas Russia является официальным партнером производителя
                бетонного полотна, британской компании Concrete Canvas Ltd. Мы занимаемся поставками полотна на<br>
                территории России и СНГ, а также консультациями по его применению и монтажу.</p>
            <p class="b-form-text">Если вас заинтересовал этот продукт, то мы готовы ответить на все ваши вопросы,
                предоставить дополнительную информацию и обсудить варианты сотрудничества.</p>
            <form class='b-form-submit-wrap clearfix' name="cooperation" action="/" method="POST"
                  enctype="multipart/form-data"><input type="hidden" name="sessid" id="sessid"
                                                       value="bd99e6d75f9f09ebe511cb2a317c5486"/><input type="hidden"
                                                                                                        name="WEB_FORM_ID"
                                                                                                        value="1"/>
                <div class="b-form__input-wrap l_bl">
                    <input type="text" class="b-form__input" placeholder="Имя или название компании" name="form_text_1"
                           value="" size="0"/><input type="text" class="b-form__input"
                                                     placeholder="Телефон или эл. почта" name="form_text_2" value=""
                                                     size="0"/></div>
                <div class="b-form-button-wrap r_bl">
                    <label class="b-form__check-label">
						<span class="checkbox">
							<input type="checkbox" id="3" name="form_checkbox_SEND[]" id="form_checkbox_SEND[]"
                                   value="3">
							<span class='checkbox__icon'></span>
						</span>
                        <p class="b-form__check-text">Выслать коммерческое предложение</p>
                    </label>
                    <input class="b-form__submit" type="submit" name="web_form_submit" value="Отправить"/>
                </div>
            </form>
        </div>
    </div>
</div><!-- / -->
<div class="b-footer">
    <div class="b-content-wrap clearfix">
        <div class="b-footer-info r_bl">
            <div class="b-foot-phone">
                <a href="tel:+74959377780">
					<span class="b-foot-phone__text b-foot-phone__icon">
						+7 (495) 937-77-80
					</span>
                </a>
                <a href="tel:+448456801908">
					<span class="b-foot-phone__text b-foot-phone__icon">
						+44 (845) 680-1908 (UK)
					</span>
                </a>
            </div>
            <ul class="b-footer-info-down-wrap">
                <li class="b-footer-info-down__item">
                    <span class="b-footer-info__down_icon"></span>
                    <a class="b-footer-info__down_link" href="canvas-brochure.pdf" target="_blank">
                        Скачать<br> буклет
                        <small class="b-footer-info__down_link-small">(8 мб)</small>
                    </a>
                </li>
            </ul>
        </div>
        <div class="b-footer-main l_bl clearfix">
            <div class="b-footer-copyright-wrap l_bl">

					<span class="b-footer-logo">
						<img class="b-logo__icon-img" src="https://uccr.su/bitrix/templates/tireos/img/last-logo.png"
                             alt="">
					</span>
                <p class="b-footer-copyright">Concrete Canvas &trade; &copy; 2012 — 2016</p>
            </div>

            <div class="b-footer-main-nav-wrap l_bl clearfix">
                <ul class="b-footer-main-nav l_vline l_bl">

                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link" href="/about/">О компании</a>
                    </li>

                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link" href="/news/">Новости</a>
                    </li>

                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link"
                                                           href="/contacts/">Контакты</a></li>

                </ul>
                <ul class="b-footer-main-nav r_vline r_bl">
                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link" href="/examples/">Примеры
                            работ</a></li>

                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link" href="/install/">Как проходит
                            монтаж</a></li>

                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link" href="/specification/">Спецификация<br>
                            и формы поставки</a></li>

                    <li class="b-footer-main-nav__item"><a class="b-footer-main-nav__link" href="/faq/">FAQ</a></li>


                </ul>
            </div>
        </div>
    </div>
    <div class="thank_popup">
        <div class="overlay_popup"></div>
        <div class="table">
            <div class="td">
                <div class="thank_text">
                    Спасибо за обращение, наш специалист свяжется с вами в ближайшее время.
                </div>
            </div>
        </div>
    </div>
    <div class="park-banner hidden">
        <div class="overlay_popup"></div>

        <div class="park-banner-content">
            <div class="park-banner__close">
                <p class="fw700 lh24 dib vam">Закрыть</p>
                <span class="park-banner__close-btn dib vam"></span>
            </div>
            <div class="park-banner-info">
                <div class="tal">
                    <p class="ffbeau-semibold lh30 fz28 text-black mb45">
                        Посетите наш <br>
                        демонстрационный
                        парк
                    </p>
                    <a href="#" class="blue-btn dib">Подробнее</a>
                </div>
            </div>
            <div class="park-banner-photo">
                <img src="img/park-banner-photo.jpg" alt="">
            </div>
        </div>
    </div>
</div><!-- / -->
<!-- Scripts -->

{% include "scripts.twig" %}
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-599ZHT');</script>
<!-- End Google Tag Manager -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter39840000 = new Ya.Metrika({
                    id: 39840000,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/39840000" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<script>var isMobile;
    /*if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) isMobile = true;*/
    if ($(window).outerWidth() < 400) {
        isMobile = true;
    }
    if (isMobile) {
        var pathM = window.location.pathname
        if (pathM == '/' || pathM == '/install/' || pathM == '/faq/' || pathM == '/contacts/') {
            setCookie('is_mobile', 'Y', {expires: 86400, path: '/'});
            window.location.reload();
        }
    }
</script>
{% block pageScripts %}{% endblock %}
</body>
</html>